<head>
  <meta charset="UTF-8">
  <title>Tech Review</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Tech Review
      </h1>
      <div class="navbar-nav spar">
        <a class="nav-link red" aria-current="page" href="/">Home</a>
        <a class="nav-link red" href="/dashboard">Dashboard</a>
        <a class="nav-link red" href="/login">Login</a>
      </div>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>