<div class="row mb-3">
    <label for="commentinput" class="form-label">Comment</label>
    <textarea class="form-control" id="commentinput" rows="3"></textarea>
</div>

<button id="post" class="btn btn-primary">Post</button>

<script src="/js/comment.js"></script>