<div class="row mb-3">
  <label for="titleinput" class="form-label">Title</label>
  <input type="text" class="form-control" id="titleinput">
</div>
<div class="row mb-3">
  <label for="postinput" class="form-label">Review</label>
  <textarea class="form-control" id="postinput" rows="3"></textarea>
</div>

{{#if new}}
  <button id="post" class="btn btn-primary">Post</button>
  <script src="/js/post.js"></script>
{{/if}}